<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <main>
      <article>
        <p id="author"><a href="/">@pithlessly</a> &middot; <a href="https://github.com/pithlessly">github</a> &middot; &lambda;</p>
        <!-- your page content will be inserted here,
             see the default_content_selector option in soupault.conf -->
      </article>
      <footer>
      </footer>
    </main>
  </body>
</html>
